<!doctype html>
<html>
<head>
    <title>LianxiLib | Home </title>
    <!-- <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Seaweed+Script&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <a href="/" class="brand">LianxiLib</a>
        <div class="menu-btn"></div>
        <div class="navigation">
          <div class="navigation-items">
            <a href="/">Home</a>
            <a href="/practice">Practice</a>
            <a href="/profile">My Profile</a>
            <a href="/login">Login</a>
          </div>
        </div>
      </header>
<div class="container">

    <!-- <div class="jumbotron text-center">
        <h1>LiftUp Your Community</h1>
        <img src="img/anya.webp" alt="21 Savage Profile Photo">

        <p>Login or Signup:</p>

        <a href="/login" class="btn btn-default"><span class="fa fa-user"></span>Login</a>
        <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span>Signup</a>

    </div> -->
    <main>
        <section class="place">
          <span>练习 Practice<br>中文 Chinese<br>汉字 Characters</span>
           <!-- <span> <br>Practice <br>Chinese <br>Characters</span> -->
         </section>
        <section class="about">
          <h3 id="island">The Easy Way</h3>
         <p>LianxiLib is here to help Chinese language learners keep track of your learned characters. Record the pronounciation, keep the definition, and continue learning new characters each day!</p>
         <button><a href="/signup">Sign Up</a></button>
        </section>
     </main>
     <section class="more">
        <section>
          <p>When you're learning the Chinese language, it may be hard to keep track of all the characters you've learned - since there are hundreds of Chinese characters to learn in the first place.</p>
        </section>
        <section>
          <p>With LianxiLib, you can easily keep track of these characters and their meanings, study them - and be on the road to master the language in no time. Beginners and even more Advanced learners can make use of this.</p>
        </section>
      </section>
      <section class="title"><span>Start Your Journey Now!</span></section>
  
      <footer>
        
      </footer>
  
  
      
</div>
</body>
</html>
