<!doctype html>
<html>
<head>
    <title>LiftUp</title>
    <!-- <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Seaweed+Script&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <a href="#" class="brand">LianxiLib</a>
        <div class="menu-btn"></div>
        <div class="navigation">
          <div class="navigation-items">
            <a href="/">Home</a>
            <a href="#">Practice</a>
            <a href="/profile">My Profile</a>
            <a href="/login">Login</a>
          </div>
        </div>
      </header>
<div class="container">

    <!-- <div class="jumbotron text-center">
        <h1>LiftUp Your Community</h1>
        <img src="img/anya.webp" alt="21 Savage Profile Photo">

        <p>Login or Signup:</p>

        <a href="/login" class="btn btn-default"><span class="fa fa-user"></span>Login</a>
        <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span>Signup</a>

    </div> -->
    <main>
        <section class="place">
          <span>Practice 
            <br>Your Characters</span>
         </section>
        <section class="about">
          <h3 id="island">The Easy Way!</h3>
         <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione vel ducimus cumque est error illum rerum mollitia expedita modi quo necessitatibus saepe nam voluptates similique, recusandae ab consequuntur. Earum, ipsum.</p>
         <button><a href="/signup">Sign Up</a></button>
        </section>
     </main>
     <section class="more">
        <section>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quibusdam explicabo animi labore pariatur debitis aut voluptatibus minima porro voluptatem, id sequi laboriosam maxime ipsum, deserunt repellat facilis harum, incidunt iste!</p>
        </section>
        <section>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At aperiam excepturi libero accusantium magnam est doloremque unde iusto, quam nulla, qui harum nobis modi, rem consequuntur quidem sapiente voluptatibus molestias.</p>
        </section>
      </section>
      <section class="title"><span>Start Your Journey Now!</span></section>
  
      <footer>
        
      </footer>
  
  
      
</div>
</body>
</html>
