<!doctype html>
<html>
<head>
    <title>LianxiLib | Practice </title>
    <!-- <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="practice.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/v5-font-face.min.css" integrity="sha512-wVffp1z2cYYhxt8nhif5UsMu415VRqX2CkMeWg5lYyrcpFBLfoMQ6ngVSJG8BumKBl83wf2bMRDwVmTgfoDovQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="font-awesome.min.css">
    <link rel="stylesheet" href="practice.css">
</head>
<body>
    <header>
        <a href="/" class="brand">LianxiLib</a>
        <div class="menu-btn"></div>
        <div class="navigation">
          <div class="navigation-items">
            <a href="/">Home</a>
            <a href="/practice">Practice</a>
            <a href="/profile">My Profile</a>
            <a href="/studyMode">Study</a>
            <a href="/login">Login</a>
          </div>
        </div>
      </header>

<div class="container">
    <div class="msgcenter">
        <h1>New Character of the Day!</h1>
        <button>Get Character</button>
        <section>
            <ul></ul>
      </section>
</div>



<script src="main.js"></script>

</body>
</html>