@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.localInfo{
  display: none;
}

/********* HEADER **********/


header{
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 200px;
    transition: 0.5s ease;
    background: rgba(255, 0, 0, 0.724);
  }
  
  header .brand{
    color: rgb(0, 0, 0);
    font-size: 1.5em;
    font-weight: 300;
    text-decoration: none;
  }

  .brand:hover{
    color: grey;
  }
  
  header .navigation{
    position: relative;
  }
  
  header .navigation .navigation-items a{
    position: relative;
    color: rgb(0, 0, 0);
    font-size: 1em;
    font-weight: 300;
    text-decoration: none;
    margin-left: 30px;
    transition: 0.3s ease;
  }
  
  header .navigation .navigation-items a:before{
    content: '';
    position: absolute;
    background: rgb(0, 0, 0);
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    transition: 0.3s ease;
  }
  
  header .navigation .navigation-items a:hover:before{
    width: 100%;
  }

  /********* MAIN **********/

  h1{
    font-weight: 200;
    font-size: 50px;
    padding-top: 70px;
    text-align: center;
    margin-bottom: 50px;
  }
  
  .container{
    height: 400px;
    background-color: rgba(255, 255, 255, 0.444);
    width: 60%;
    margin: auto;
    border-radius: 7px;
    margin-top: 100px;
    text-align: center;
  }
  
  a{
    text-decoration: none;
  }
  
  
  button{
    width: 20%;
    height: 40px;
    font-size: 15px;
    font-weight: 100;
    border: none;
    border-radius: 5px;
    background: hsla(236,92%,68%,1);
    color: white;
    margin-bottom: 50px;
  }
  
  button:hover{
    background: hsla(316,86%,73%,1);
  }
  
  .profcontainer{
    height: 800px;
    background-color: rgba(255, 255, 255, 0.444);
    width: 75%;
    margin: auto;
    border-radius: 7px;
    margin-top: 100px;
    text-align: center;
  }
  
  h2,h3,li,p{
    font-weight: 200;
  }

  h3{
    font-size: 30px;
  }

  ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  li{
    background: rgb(219, 22, 22);
    color: white;
    box-shadow: 0 15px 20px rgba(0,0,0,0.3);
    width: 70%;
    border-radius: 7px;
    height: 180px;
    padding: 20px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-left: 120px;
  }